.App {
  text-align: center;
  background-color: #f0f8ff; /* Light blue background */
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
